<div>
  <button pButton pRipple type="button" class="p-button-success" (click)="redirectToHome()" label="Pagina inicial"></button>
  <p-table [value]="products">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr *ngIf="!editEnabled">
        <td>{{product.name}}</td>
      </tr>
      <td *ngIf="!editEnabled">
        <button pButton (click)="editProduct()" pRipple type="button" label="Editar"></button>
      </td>
      <tr *ngIf="editEnabled">
        <td><input [(ngModel)]="product.name" type="text"></td>
      </tr>
      <td *ngIf="editEnabled">
        <button pButton (click)="saveProduct(product)" class="p-button-warning" pRipple type="button" label="Salvar"></button>
      </td>
    </ng-template>
  </p-table>

</div>
