<div>
  <p-table [value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr *ngIf="!editEnabled">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td *ngIf="!editEnabled">
          <button pButton (click)="editUser()" pRipple type="button" label="Editar"></button>
        </td>
      </tr>
      <tr *ngIf="editEnabled">
        <td><input pInputText [(ngModel)]="user.name" type="text"></td>
        <td><input pInputText [(ngModel)]="user.email" type="email"></td>
        <button pButton (click)="saveUser(user)" class="p-button-warning" pRipple type="button" label="Salvar"></button>
      </tr>
    </ng-template>
  </p-table>
</div>
